<div class="row pt-4">
  <div class="col-md-12 text-center">
    <h1 class="bg-warning fw-bold mb-4">COUNTER</h1>
    <p class="display-1 text-warning fw-medium">{{ counter }}</p>
  </div>
</div>

<div class="row text-center mt-5">
  <div class="col-md-12 d-flex">
    <div class="col-md-4">
      <button
        [disabled]="counter < 1"
        (click)="decrement()"
        class="btn btn-warning fs-1 fw-bold w-25"
      >
        <i class="fas fa-minus"></i>
      </button>
    </div>
    <div class="col-md-4">
      <button (click)="reset()" class="btn btn-warning w-50">
        <span class="fw-bold fs-2"><i class="fas fa-rotate-right"></i></span>
      </button>
    </div>
    <div class="col-md-4">
      <button (click)="increment()" class="btn btn-warning fs-1 fw-bold w-25">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <app-custom></app-custom>
  </div>
</div>
