<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid align-items-end">
    <h1 class="me-5 text-bold text-light">ASSINGMENT</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/home']"
            routerLinkActive="active activeLink"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/counter']"
            routerLinkActive="active activeLink"
            >COUNTER</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/users']"
            routerLinkActive="active activeLink"
            >USERS</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 150px; margin-top: 30px">
    <div class="lh-1 ms-4">
      <small class="text-light">Anmol Rattan</small>
    </div>
    <div class="lh-1 ms-2">
      <small class="text-light">+91-9650550140</small>
    </div>
  </div>
</nav>
