<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid align-items-end">
    <h1 class="me-5 text-bold text-light">ASSINGMENT</h1>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/home']"
            routerLinkActive="active activeLink"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/counter']"
            routerLinkActive="active activeLink"
            >COUNTER</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            [routerLink]="['/users']"
            routerLinkActive="active activeLink"
            >USERS</a
          >
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated | async)">
          <a
            class="nav-link text-light"
            [routerLink]="['/auth/login']"
            routerLinkActive="active activeLink"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated | async)">
          <a
            class="nav-link text-light"
            [routerLink]="['/auth/signup']"
            routerLinkActive="active activeLink"
            >Sign up</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a
            class="nav-link text-light"
            [routerLink]="['/auth/Logout']"
            routerLinkActive="active activeLink"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- <div style="margin-top: 30px" class="me-3">
    <div class="lh-1">
      <li class="nav-item">
        <a
          class="nav-link text-warning"
          [routerLink]="['/auth']"
          routerLinkActive="active activeLink"
          >Login</a
        >
      </li>
    </div>
  </div> -->
</nav>
